
.container {
  margin: 0px;
  display: grid;
}

aside {
  grid-column: 1;
  background-color: #335384;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 25px;
  color: white;
}

article {
  grid-column: 2 / 3;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 25px;
  
}

article h1 {

  font-size: 30px;
  color: #335384;
  
}


